  .topbar {
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 10px;
      text-align: center;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
    }